  * {
      margin: 0px;
      padding: 0px;
  }
  
  body {
      background: #000;
  }
  
  .maintitle {
      text-align: center;
      font-size: 28px;
      color: #fde525;
      margin: 15px 20px;
      padding: 10px 20px;
      background: url(images/posif2.jpg);
      background-attachment: fixed;
      border: 1px #fced04 dashed;
      height: auto;
      width: 94%;
      font-family: cursive;
      display: block;
  }
  
  nav {
      background: #0075ff;
      height: 25px;
      width: 60%;
      border: 1px #fff solid;
      color: #fff;
      margin: 1% 12%;
      padding: 1em 3em;
      display: inline-block; 
      }
  
  a {
      font-size: 20px;
      text-decoration: none;
      font-family: monospace;
      color: #fff;
      margin: 0px 2em;
      text-align: center;
      display: inline-block;
      
  }
  a:hover {
    background: #1abdb5;
  }
  div.a {
    display: inline-block;
  }

   div.a a:hover { 
    
  }