* {
    padding: 0px;
    margin: 0px;
}

body {
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(34,26,26,1) 100%);
    background-size:cover;
    background-size: auto;

}

.main-box {
border: black solid 3px;
border-radius: 10px;
margin: 0.5em;
display: flex;
justify-content: space-around;
align-items: center;
flex-flow: row wrap;


background: rgb(63,94,251);
background: radial-gradient(circle, rgb(0, 145, 255) 0%, rgb(249, 35, 67) 100%);

}

.main-box:hover {
filter: saturate(100%);
filter: drop-shadow(3px 3px 3px gray);
}

.main-title {
    display: inline-block;
    font-family: "Dela Gothic";
    margin:1em;
    padding: 1em 2em;
    border: rgb(2, 2, 2) 2px solid;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    letter-spacing: 3px;
    
    transition: margin 0.5s, border 0.5s, font 0.5s, padding 0.5s;
}
.main-title:hover {
    animation: main-title-a 4s ease-in-out infinite;
    margin: 0.2345;
    padding: 0.5em 1em;
    border: whitesmoke 2px dashed;
    font-size: 42px;    
}
@keyframes main-title-a {
    0% {
        color: ghostwhite;
    }
    10% {
        color: rgb(255, 0, 0);
    }
    20% {
        color: rgb(255, 0, 247);
    }
    30% {
        color: rgb(170, 0, 255);
    }
    40% {
        color: rgb(0, 0, 255);
    }
    50% {
        color: rgb(5, 180, 255);
    }
    60% {
        color: rgb(0, 255, 94);
    }
    70% {
        color: rgb(26, 255, 0);
    }
    80% {
        color: rgb(255, 255, 0);
    }
    90% {
        color: rgb(230, 69, 0);
    }
    100% {
        color: rgb(0, 0, 0);
    }
    
}

ul.nav-bar {
    margin: 0.5em;
    padding: 0.5em;
    height: fit-content;
    width:fit-content;
    border: 2px rgb(242, 23, 23) solid;
    border-radius:35px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;

    transition: width, ease-in 1s;
}
ul.nav-bar:hover {
    border: deeppink 3px dashed;
}

/* caja  de la nav bar */
ul.nav-bar li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    border: rgb(255, 255, 255) 2px solid; 
    width: 5.5em;
    padding: fit-content;
    border-radius: 20px;
    transition: width, linear, 1s;
}
ul.nav-bar li:hover {
    border:  rgb(0, 0, 0) 4px dashed;
    transform: rotate(15deg);
}

/* texto de la nav bar  */
ul.nav-bar li, a {
    font-family:roboto-normal ;
    display: inline-flex;
    color:whitesmoke;
    padding: 0.1em;
    margin: 0.52em;
}




/* estulos de links  por defecto sin nada*/
a:link {
    text-decoration: none;
}

.secc-box{
    display: inline-flex;
    justify-content: center;
    align-content:center;
    align-self: center;
    height: 3em;
    width: 12em;

    margin: 1em 2em;
    padding: 0.4em 2.2em;

    background: rgb(131,58,180);
    background: linear-gradient(110deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    border-radius: 2em;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.secc-box:hover {
    animation: secc-title-a 2s ease-in infinite;
    border:whitesmoke 3px dashed;
}
@keyframes secc-title-a {
    0% {
        background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    }
    25% {
        background: rgb(150,0,250);
background: linear-gradient(120deg, rgba(150,0,250,1) 26%, rgba(253,29,29,1) 54%, rgba(252,176,69,1) 83%);
    }
    50% {
        background: rgb(96,1,159);
background: linear-gradient(160deg, rgba(96,1,159,1) 13%, rgba(150,0,250,1) 25%, rgba(181,9,184,1) 46%, rgba(252,176,69,1) 64%, rgba(253,29,29,1) 78%, rgba(253,29,29,1) 90%);
    }
    75% {   
        background: rgb(197,109,255);
background: linear-gradient(180deg, rgba(197,109,255,1) 12%, rgba(169,6,209,1) 25%, rgba(150,0,250,1) 27%, rgba(218,226,10,1) 49%, rgba(253,29,29,1) 61%, rgba(253,29,29,1) 67%, rgba(181,9,184,1) 87%);
    }
    100% {
        background: rgb(90, 83, 95);
background: linear-gradient(240deg, rgba(197,109,255,1) 0%, rgba(231,19,19,1) 51%, rgba(255,229,0,1) 100%);
    }
    
}

.secc-title {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    color: whitesmoke;

    font-family: Pacifico;
    letter-spacing: 3px;
    font-size: 22px;
    font-style: italic;

}


/* images news grid */
.grid-container {
    background: rgb(197,109,255);
    background: linear-gradient(150deg, rgba(197,109,255,1) 0%, rgba(231,19,19,1) 51%, rgba(255,229,0,1) 100%);


    display:  flex;
    flex-flow:row wrap;
    justify-content: space-evenly;
    align-content: center;
    width: auto;

   border-radius: 20px;

    margin: 1em;
    padding:0em 0em;
    
}
.grid-container:hover {
    filter: saturate(100%);
    filter: drop-shadow(-3px 3px 3px rgb(203, 203, 203));
} 

.grid-item {
    image-rendering: optimizeQuality;
    border: whitesmoke 2px solid;
    margin: 0.5em 1em;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-flow: row wrap;
    width:auto;
    height:14em;
}

.grid-item:hover {
    border: springgreen 3px dashed;
    height: 17em;
}
.grid-item:active {
    border: deeppink 4px double;
    height: 20em;
}

.grid-audio {
    margin: 1em 2em;   
    border: whitesmoke 2px solid;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-flow: row wrap;
    width:10em;
    height:10em;

    transition: height 0.5s, width 0.5s, border 0.5s;
}

.grid-audio:hover {
    border: #0088ff 6px double;
    height: 11.5em;
    width: 11.5em;
}
.grid-audio:hover ~ audio {
    right: -3em;
}

audio {
    position: relative;
    top: -2em;
    right: -2em;
    width:10em;
    height: autop;
    outline: none;
    transition: width 0.5s, right 0.5s;
}
audio:hover  {
    right: 1em;
    width: 16em;
}





/* FUENTES */
/* Roboto */
@font-face {
    font-family: roboto-normal;
    src: url("fonts/roboto/Roboto-BoldItalic.ttf")
}

/* Dela gothic */
@font-face {
    font-family: "Dela Gothic";
    src: url("fonts/Dela-Gothic/DelaGothicOne-Regular.ttf")
}

/* pacifico*/
@font-face {
    font-family:Pacifico;
    src: url("fonts/pacifico/Pacifico-Regular.ttf");
}
